@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
@font-face {
    font-family: 'Myriad Pro';
    /* src: url('./../fonts/MyriadPro-Bold.woff') format('woff'), url('./../fonts/MyriadPro-Bold.woff2') format('woff2'), url('./../fonts/MyriadPro-Regular.woff') format('woff'), url('./../fonts/MyriadPro-Regular.woff2') format('woff2'), url('./../fonts/MyriadPro-Semibold.woff') format('woff'), url('./../fonts/MyriadPro-Semibold.woff2') format('woff2'); */
    src: url('./../fonts/MyriadPro-Regular.woff') format('woff'), url('./../fonts/MyriadPro-Regular.woff2') format('woff2'), url('./../fonts/MyriadPro-Semibold.woff') format('woff'), url('./../fonts/MyriadPro-Semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary_color: #FF6C66;
    --dark: #000000;
    --blue: #2C99CB
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
}

li,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

img {
    max-width: 100%
}

a:hover {
    text-decoration: none
}

.btn {
    border-radius: 0
}

.btn-primary {
    color: #fff;
    background-color: var(--primary_color);
    height: 50px;
    padding: 0 25px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 25px;
    width: auto;
    transition: all ease-in-out .3s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .16)
}

.btn-primary:hover {
    /* background-color: var(--dark); */
    /* color: var(--primary_color)!important; */
    background-color: #f13f32;
    /* color: #fff; */
}

.head_bg {
    /* background-color: rgba(255, 255, 255, .9); */
    background-color: #fff;
}

.head_bg .navbar-brand {
    color: var(--primary_color)
}

.head_bg .navbar-brand .logo_white {
    display: none;
}

.head_bg .navbar-brand .logo_red {
    display: block;
}

.navbar-brand .logo_white {
    display: block;
}

.navbar-brand .logo_red {
    display: none;
}

.hero {
    background-color: var(--primary_color)
}

.hero_img_bg {
    background-image: url(../images/frts_bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 100vh;
    background-size: contain
}

.hero_slider {
    width: 100%;
    max-width: 800px;
    border: 5px solid #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .16);
    max-height: 600px
}

.hero_text {
    width: 100%;
    /* max-width: 530px; */
    /* max-width: 466px; */
    max-width: 400px;
    color: #fff
}

.hero_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh
}

.hero_text h1 {
    font-size: 3.25rem;
    font-family: 'Myriad Pro';
    font-weight: bold;
}

.hero_text p {
    font-size: 1.25rem;
    margin: 20px auto
}

.hero_text a.blue_btn {
    max-width: 200px
}

.blue_btn {
    color: #fff;
    background-color: var(--blue);
    height: 50px;
    padding: 0 25px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 25px;
    width: auto;
    transition: all ease-in-out .3s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .16)
}

.blue_btn:hover {
    /* background-color: var(--dark); */
    /* color: var(--primary_color)!important; */
    color: #fff;
    background-color: #047cb3;
}

.navbar-brand {
    color: #fff;
    font-size: 1.75rem
}

.navbar-expand-lg .navbar-nav li {
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar a.nav-link {
    color: var(--dark)
}

.navbar a.nav-link.active,
.navbar a.nav-link:hover {
    color: var(--primary_color)
}

.navbar {
    padding: 1rem 0
}

.title {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Myriad Pro';
    font-weight: normal;
}

.search_home .title {
    color: #fff
}

.search_home {
    background-color: var(--primary_color);
    position: relative;
    margin-bottom: 100px;
    margin-top: -2px;
}

.search_home::before {
    position: absolute;
    background-image: url(../images/btm_curve.svg);
    bottom: -100px;
    right: 0;
    left: 0;
    content: '';
    top: auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.sh_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 940px;
    flex-wrap: wrap;
    margin: 25px auto
}

.gender_box {
    background-color: #fff;
    height: 50px;
    border-radius: 25px;
    padding: 0 2rem;
    width: 100%;
    max-width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 11px 20px rgba(0, 0, 0, .16)
}

.treat_selection {
    background-color: #fff;
    height: 50px;
    border-radius: 25px;
    padding: 0 .25rem;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 11px 20px rgba(0, 0, 0, .16);
    margin: 0 10px
}

.treat_selection .custom-select {
    padding: 0 1.75rem;
    border: none;
    border-radius: 25px
}

.treat_selection .custom-select:focus {
    box-shadow: none
}

.why_rmd {
    padding: 70px 0
}

.title p {
    font-size: 18px;
    font-family: Poppins, sans-serif;
    margin: 10px auto;
    max-width: 600px
}

.step_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0
}

.mob_img {
    position: relative;
    z-index: 10
}

.mob_img .frt_img {
    position: absolute;
    z-index: -2;
    bottom: -8%;
    right: 35%
}

.mob_img {
    position: relative;
    z-index: 10;
    padding-right: 10%
}

.step_details {
    width: 50%
}

.step_img {
    width: 50%;
    text-align: right;
    background-image: url(../images/curve_bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -100px 0;
    padding-top: 50px
}

.phone_mock {
    transform: rotate(-14deg)
}

.stp_box {
    width: 100%;
    max-width: 600px;
    margin: 10px auto
}

.step_number {
    position: relative;
    border-top: 1px solid #dedede;
    margin-bottom: 30px
}

.step_number span {
    background-color: #fff;
    padding: 0 15px 0 0;
    font-size: 1rem;
    color: var(--primary_color);
    top: -13px;
    left: 0;
    display: inline-block;
    position: absolute
}

.stp_head {
    font-size: 2rem;
    font-family: 'Myriad Pro';
    font-weight: normal;
}

.stp_info {
    margin: 20px 0;
    font-size: 1.1rem;
    line-height: 36px
}

.step_wrap .step_block:nth-child(even) .step_img {
    order: 2;
    background-image: url(../images/curve_bg_flip.svg);
    background-position: 150px 0;
    text-align: left
}

.step_wrap .step_block:nth-child(even) .step_details {
    order: 1
}

.step_wrap .step_block:nth-child(even) .stp_box {
    text-align: right
}

.step_wrap .step_block:nth-child(even) .step_number span {
    padding: 0 0 0 15px;
    right: 0;
    left: auto
}

.step_wrap .step_block:nth-child(even) .phone_mock {
    transform: rotate(14deg)
}

.step_wrap .step_block:nth-child(even) .mob_img {
    position: relative;
    z-index: 10;
    padding-left: 10%;
    padding-right: 0
}

.step_wrap .step_block:nth-child(2) .mob_img {
    padding-left: 20%
}

.step_wrap .step_block:nth-child(2) .frt_img {
    right: 15%
}

.hv_box {
    width: 100%;
    max-width: 450px;
    margin: 0 auto
}

.video_frame {
    border-radius: 30px;
    overflow: hidden;
    position: relative
}

.img_play {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px
}

.exp_carousel {
    margin: 30px auto;
    max-width: 1500px
}

.vdo_info {
    font-weight: 700;
    margin: 10px auto
}

.vdo_info span {
    font-weight: 400
}

.hv_box:hover .vdo_info {
    color: var(--primary_color)
}

.owl-carousel .owl-nav button {
    position: absolute;
    top: 150px
}

.owl-carousel .owl-nav button:focus {
    outline: 0
}

.owl-carousel .owl-nav button.owl-prev {
    left: -30px
}

.owl-carousel .owl-nav button.owl-next {
    right: -30px
}

.oac {
    padding: 50px 0 300px 0;
    position: relative;
    background: #fff;
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0, rgba(243, 247, 248, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0, rgba(243, 247, 248, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0, rgba(243, 247, 248, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f3f7f8", GradientType=1)
}

.oac::after {
    background-image: url(../images/blue_curve.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    bottom: -5px;
    left: 0;
    background-position: bottom
}

.oac_box {
    width: 100%;
    max-width: 600px
}

.oacb_icon {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-top: -20px
}

.oac_detail {
    width: calc(100% - 160px);
    display: inline-block;
    vertical-align: top
}

.oac_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px auto
}

.oac_detail p {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 15px
}

.oac .btn-primary {
    max-width: 150px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.client_talk {
    padding: 50px 0
}

.item_box {
    width: 100%;
    max-width: 350px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #f2f8f9;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
    background-image: url(../images/quote_icon.svg);
    background-repeat: no-repeat;
    background-position: 15px 15px;
    transition: all ease-in-out .3s
}

.item_box:hover {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .16)
}

.tk_b p {
    font-size: 1rem;
    max-width: 310px;
    margin: 10px auto 30px auto;
    line-height: 1.5rem;
    height: 150px;
    overflow: hidden
}

.talks {
    margin: 30px auto
}

.rating li {
    display: inline-block;
    font-size: 13px;
    color: var(--primary_color)
}

.reviewer_info {
    text-align: left
}

.reviewr_img {
    width: 50px;
    background-color: var(--primary_color);
    border-color: var(--primary_color);
    border-width: 5px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    border-style: solid;
    height: 50px
}

.reviewr_img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center
}

.rate_by {
    display: flex;
    justify-content: center;
    align-items: center
}

.reviewer_name {
    font-size: 14px;
    margin-top: 10px;
    position: relative
}

.reviewer_name::before {
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: var(--primary_color);
    content: '';
    top: -3px;
    left: 0
}

.experts {
    padding: 300px 0 50px 0;
    position: relative;
    background: #fff;
    background: -moz-linear-gradient(360deg, rgba(255, 255, 255, 1) 0, rgba(255, 207, 204, 1) 100%);
    background: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 1) 0, rgba(255, 207, 204, 1) 100%);
    background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0, rgba(255, 207, 204, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffcfcc", GradientType=1)
}

.experts::after {
    background-image: url(../images/red_curve.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: -5px;
    left: 0;
    background-position: top
}

.experts .btn-primary {
    max-width: 200px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.exprt_img {
    border-radius: 30px 0 30px 0;
    overflow: hidden;
    margin-bottom: 15px
}

.eprt_info strong {
    font-size: 1.25rem
}

.eprt_info p {
    margin: 10px auto
}

.eprt_info a.vb_link {
    color: var(--primary_color)
}

.eprt_info a.vb_link:hover {
    color: var(--blue)
}

.work_join_sec,
.member_support,
.h_news {
    padding: 50px 0 300px 0;
    position: relative;
    background: #fff;
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0, rgba(243, 247, 248, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0, rgba(243, 247, 248, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0, rgba(243, 247, 248, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f3f7f8", GradientType=1)
}

.work_join_sec,
.member_support::after,
.h_news::after {
    background-image: url(../images/blue_curve.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    bottom: -5px;
    left: 0;
    background-position: bottom
}

.blog_img {
    border-radius: 30px 0 30px 0;
    overflow: hidden;
    margin-bottom: 15px
}

.blog_info strong {
    font-size: 1.25rem;
    color: var(--primary_color);
    display: block
}

.blog_info a {
    font-weight: 700;
    font-size: 1rem;
    margin-top: 10px;
    display: block;
    color: var(--dark)
}

.blog_info a:hover {
    color: var(--blue)
}

.blog_info p {
    margin: 10px auto
}

.news_box a {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--dark);
    margin: 15px auto;
    display: block
}

.n_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.n_post i {
    color: var(--primary_color);
    margin-right: 10px
}

.news_box {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-top: 1px solid #dedede;
    padding: 15px 0
}

.news_box:hover a {
    color: var(--primary_color)
}

.news_box:first-child {
    border-top: 0 solid #dedede
}

.news_list {
    border: 1px solid #dedede;
    padding: 15px 0;
    border-radius: 30px;
    background-color: #fff
}

.sponser_img {
    margin: 0 auto;
    width: 250px;
    background-color: #fff;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .16)
}

.foot_links_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.foot_links_list b {
    color: var(--primary_color);
    margin-bottom: 15px;
    display: block
}

.foot_links_list li {
    margin-bottom: 5px
}

.provider_detail_sec .custom_breadcrumb a,
.foot_links_list li a {
    font-size: 14px;
    color: var(--dark)
}

.provider_detail_sec .custom_breadcrumb a:hover,
.foot_links_list li a:hover {
    color: var(--blue)
}

.foot_list {
    width: 130px
}

.h_contact {
    width: 100%;
    max-width: 310px;
    margin: 0 auto
}

.h_contact p {
    font-size: 14px;
    margin-bottom: 5px
}

.h_contact b {
    color: var(--primary_color);
    margin-bottom: 15px;
    display: block
}

.h_contact div {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 15px
}

.social_links li {
    display: inline-block;
    margin: 5px
}

.social_links li a {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary_color);
    color: #fff
}

.social_links li a:hover {
    background-color: #fff;
    color: var(--primary_color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .16)
}

.copy_text {
    font-size: 14px
}

.copy_text a {
    color: var(--dark)
}

.copy_text a:hover {
    color: var(--blue)
}

.navbar-toggler {
    color: #ff6c66;
    border: 1px solid #ff6c66;
}


/* Contact Page */

.member_support .boxes_wrapper .box,
.work_join_sec .box {
    width: 400px;
    height: 450px;
    border-radius: 30px;
    padding: 60px 48px;
    box-shadow: 0 30px 30px rgba(44, 153, 203, 0.2);
    background-color: #fff;
    z-index: 1;
}

.work_join_sec .box:last-child,
.member_support .boxes_wrapper .box:last-child {
    margin-left: 36px;
}

.work_join_sec .boxes_wrapper,
.member_support .boxes_wrapper {
    margin-top: 48px;
    padding-bottom: 120px;
}

.d_flex_j_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* How It Works */

.inner_banner {
    height: 700px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: right;
}

.inner_banner .content_wrapper,
.inner_banner .container {
    height: 100%;
}

.hiw_banner {
    background-image: url(./../images/works_bg.png);
}

.about_banner {
    background-image: url(./../images/about_bg.png);
}

.contact_banner {
    background-image: url(./../images/contact_bg.png);
}

.inner_banner img {
    position: absolute;
    bottom: -1px;
}

.inner_banner .b_text h1 {
    font-size: 3.25rem;
    font-family: 'Myriad Pro';
    font-weight: bold;
}

.inner_banner .content_wrapper {
    display: flex;
    align-items: center;
}

.inner_banner .b_text {
    color: #fff;
    width: 561px;
}

.inner_banner .b_text p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

.work_join_sec {
    position: relative;
}

.work_join_sec .data_wrap {
    background: linear-gradient(180deg, transparent, #f3f7f8, #f3f7f8, transparent);
}

.faqs_q .box .icon,
.member_support .box .icon,
.work_join_sec .box .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff0ef;
    color: #FF6C66;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.faqs_q .box .title,
.member_support .box .title,
.work_join_sec .box .title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-top: 18px;
}

.faqs_q .box>p,
.member_support .box>p,
.work_join_sec .box>p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 24px;
}

.work_join_sec .box>div {
    margin-top: 24px;
}

.work_join_sec .box>div img:last-child {
    margin-left: 8px;
}

.work_join_sec .box .blue_btn {
    border: none;
    width: 182px;
    margin-top: 24px;
}

.work_join_sec .box .blue_btn:focus {
    border: none;
    outline: none;
}


/* Client Feedback Section */

.client_feedback_sec .feedback {
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}

.client_feedback_sec .feedback .fa {
    font-size: 36px;
    color: var(--primary_color);
}

.client_feedback_sec .feedback>p {
    font-size: 24px;
    line-height: 50px;
}

.client_feedback_sec .feedback>.client,
.client_feedback_sec .feedback>p,
.client_feedback_sec .feedback>img {
    margin-top: 24px;
}

.client_feedback_sec .feedback>.client {
    padding-left: 60px;
}

.client_feedback_sec .feedback>.client>span {
    margin-left: 30px;
}

.expertise_row,
.about_sec,
.work_join_sec.about {
    margin-top: 200px;
}

.work_join_sec.about .data_wrap {
    background: linear-gradient(180deg, transparent, #f3f7f8, #f3f7f8, transparent);
}

.title_sm_red {
    font-size: 18px;
    color: var(--primary_color);
}

.p_md {
    font-size: 18px;
    line-height: 36px;
}

.about_sec .title {
    text-align: left;
}

.about_sec button,
.about_sec ul,
.about_sec .title,
.about_sec .p_md {
    margin-top: 24px;
}

.about_sec ul li {
    display: flex;
    margin-top: 18px;
}

.about_sec ul li>p {
    font-size: 16px;
    line-height: 30px;
    max-width: 400px;
    margin-left: 24px;
}

.about_sec ul li>.fa {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2c99cb;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.about_sec button {
    width: 226px;
    height: 70px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    box-shadow: 0 6px 12px rgb(255 108 102);
}

.about_sec button:active,
.about_sec button:focus,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #f13f32;
    box-shadow: 0 6px 12px rgb(255 108 102);
}

.about_sec .img_wrapper {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expertise_row .img_wrapper {
    justify-content: left;
    width: 600px;
    overflow: hidden;
}

.work_join_sec.about .box {
    width: 400px;
    height: 400px;
}

.work_join_sec.about .box {
    margin-left: 36px;
    background-color: transparent;
    box-shadow: none;
    transition: all ease-in-out .3s;
}

.work_join_sec.about .box:hover {
    box-shadow: 0 30px 30px rgba(44, 153, 203, 0.2);
    background-color: #fff;
}

.work_join_sec.about .box:first-child {
    margin-left: 0;
}


/* Contact */

.contact_head_sec {
    padding-top: 70px;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: var(--primary_color);
    box-shadow: 0 6px 12px rgb(255 108 102);
}

.contact_head_sec button {
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    width: 214px;
    height: 70px;
    border-radius: 50px;
}

.contact_info_sec {
    position: relative;
    margin-top: 450px;
}

.contact_info_sec .map {
    filter: grayscale(1);
    transition: all ease-in-out .3s;
}

.contact_info_sec .map:hover {
    filter: grayscale(0);
}

.contact_info_sec .map>iframe {
    width: 100%;
    height: 700px;
}

.contact_info {
    width: 1100px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: -50%;
    z-index: 1;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%, 0);
}

.contact_info .c_form {
    width: 700px;
    height: 100%;
    padding: 60px 92px;
}

.contact_info .c_info {
    width: 400px;
    height: 100%;
    background-color: #2c99cb;
}

.contact_info .heading {
    display: flex;
    align-items: center;
}

.contact_info .heading .fa {
    font-size: 36px;
    color: #2c99cb;
}

.contact_info .c_info .title,
.contact_info .heading h1 {
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
}

.contact_info .c_form form {
    margin-top: 48px;
}

.contact_info .c_form form input,
.contact_info .c_form form textarea {
    border-radius: 0;
    background-color: #F3F7F8;
    border: none;
    font-size: 16px;
}

.contact_info .c_form form input:focus,
.contact_info .c_form form textarea:focus {
    box-shadow: 0 0 0 0.2rem rgb(44 153 203 / 0.5);
}

.contact_info .c_form form input {
    width: 250px;
    height: 50px;
}

.contact_info .c_form form textarea {
    height: 150px;
}

.contact_info .c_form form .input_wrapper {
    display: flex;
    justify-content: space-between;
}

.contact_info .c_form form button {
    width: 224px;
    height: 70px;
    border-radius: 50px;
    margin-top: 30px;
}

.contact_info .c_info {
    padding: 60px;
    color: #fff;
}

.contact_info .c_info .title_sm {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    text-transform: uppercase;
}

.contact_info .c_info .title_sm_1 {
    margin-top: 48px;
}

.contact_info .c_info p {
    line-height: 40px;
}

.contact_info .c_info .fab {
    font-size: 18px;
    margin-left: 18px;
    opacity: 0.7;
    color: #fff;
    /* transition: all ease-in-out .3s; */
}

.contact_info .c_info .fab:hover {
    opacity: 1;
}

.contact_info .social_icon {
    margin-top: 70px;
}

.member_support {
    margin-top: 48px;
    background: linear-gradient(180deg, transparent, #f3f7f8, #f3f7f8, transparent);
}

.member_support .link {
    color: #2c99cb;
    font-weight: 600;
    font-size: 16px;
    transition: all ease-in-out .3s;
}

.member_support .link:hover {
    color: var(--primary_color);
}


/* Experts */

.experts_banner {
    background-image: url(./../images/experts_banner.png);
}

.member_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member_wrapper .item_mem {
    width: 360px;
    margin-top: 60px;
}

.work_join_sec.experts_p {
    margin-top: 140px;
}

.work_join_sec.experts_p .box {
    height: 299px;
}

.work_join_sec.experts_p .box .icon {
    margin-left: auto;
    margin-right: auto;
}

.work_join_sec.experts_p .box .title {
    text-align: center;
    line-height: 36px;
}

.work_join_sec.experts_p .medal_icon:after {
    content: url(./../images/icon_metro_medal.png);
    margin-top: 14px;
}


/* Plans */

.banner_with_spike {
    background-image: url(./../images/spikes.png);
    background-repeat: repeat;
    background-size: contain;
    background-position: initial;
}

.blue_bg_overlay {
    background-color: rgba(44, 153, 203, 0.8);
    height: 100%;
}

.plans_banner .b_text {
    width: 600px;
    margin: auto;
}

.plans_oac {
    margin-top: 160px;
}

.plans_oac .oac_list {
    margin: 100px auto;
}

.plans_sec,
.plans_wrapper {
    margin-top: 100px;
}

.plans_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.plans_wrapper .plan {
    width: 400px;
    border-radius: 30px;
    /* overflow: hidden; */
    position: relative;
    transition: all ease-in-out .3s;
	min-height: 830px;
    height: auto;
}

.plans_wrapper .plan:hover {
    box-shadow: 0px 8px 20px 8px rgba(0, 0, 0, .4) !important;
}

.plans_wrapper .plan>.head {
    width: 100%;
    height: 250px;
    position: relative;
    color: #fff;
    padding: 36px 18px;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
}

.plans_wrapper .plan>.head:after {
    content: url('./../images/bottom_curve_2.svg');
    position: absolute;
    bottom: -8px;
    right: 0;
}

.plans_wrapper .plan:first-child .head {
    background-color: #2D476E;
}

.plans_wrapper .plan:nth-child(2) .head {
    background-color: var(--primary_color);
}

.plans_wrapper .plan:last-child .head {
    background-color: #2C99CB;
}

.plans_wrapper .plan:last-child .body>button {
    margin-top: 32px;
}

/* .plans_wrapper .plan:nth-child(2) {
    height: 830px;
} */

.plans_wrapper .plan>.head .title {
    font-size: 30px;
    font-weight: 600;
}

.plans_wrapper .plan>.head .amount {
    font-size: 50px;
    display: inline-block;
    position: relative;
}

.plans_wrapper .plan>.head .amount:before {
    font-family: "Font Awesome 5 Free";
    content: "\f155";
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 16px;
}

.plans_wrapper .plan>.body {
    padding: 50px;
}

.plans_wrapper .plan>.body>p {
    line-height: 30px;
}

.plans_wrapper .plan>.body>.points_wrapper {
    margin-top: 68px;
}

.plans_wrapper .plan>.body>.points_wrapper .point {
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.plans_wrapper .plan>.body>.points_wrapper .point>span {
    margin-right: 30px;
    color: #4E796E;
}

.plans_wrapper .plan>.body>button {
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    box-shadow: 0 6px 12px rgb(255 108 102);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.plans_wrapper .popular_tag {
    position: absolute;
    top: -15px;
    left: 50%;
    background-color: #E5B750;
    color: #fff;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.expertise_row .img_wrapper img {
    border-radius: 42px;
}

.plans_banner .b_text h1,
.inner_banner .b_text h1 {
    font-weight: 400;
    font-size: 54px;
}


/* FAQ */

.faqs_banner {
    background-image: url(./../images/faq_banner.jpg);
}

.faqs_banner .b_text {
    width: 100%;
}

.faqs_banner .treat_selection {
    max-width: 800px;
    overflow: hidden;
    position: relative;
}

.faqs_banner .search_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
}

.faqs_banner .search_box .btn-primary {
    font-size: 15px;
    font-weight: 600;
    border: none;
}

.faqs_banner .treat_selection .fa {
    position: absolute;
    left: 18px;
    width: 27px;
    height: 27px;
}

.faqs_banner .treat_selection .fa:after {
    content: url(./../images/icon_search.svg);
}

.faqs_banner .treat_selection input {
    height: 50px;
    width: 100%;
    border: none;
    font-size: 15px;
    padding-left: 72px;
}

.faqs_banner .treat_selection input:focus {
    box-shadow: none;
}

.faqs_banner .b_text>p {
    font-size: 18px;
    margin: 36px 0;
}

.faqs_banner .btns_wrapper {
    max-width: 1011px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.faqs_banner .btns_wrapper button {
    width: auto;
    height: 60px;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 36px;
    transition: all ease-in-out .3s;
}

.faqs_banner .btns_wrapper button.active,
.faqs_banner .btns_wrapper button:hover {
    border-color: var(--primary_color);
    color: var(--primary_color);
}

.faqs_wrapper .title {
    text-align: left;
}

.faqs_wrapper {
    margin-top: 80px;
}

.faqs_wrapper .title,
.faqs_wrapper .faqs {
    max-width: 1010px;
    margin: 0 auto;
}

.faqs_wrapper .faqs {
    margin-top: 24px;
}

.faqs_wrapper .faqs .card-header {
    padding: 0;
    border-bottom: none;
    background-color: #fff;
    ;
}

.faqs_wrapper .faqs .card-header>.card-link {
    display: inline-block;
    padding: .75rem 1.25rem;
    width: 100%;
    font-size: 18px;
    color: #000;
}

.faqs_wrapper .faqs .card-header>.card-link:focus {
    outline: none;
}

.faqs_wrapper .faqs .card-header>.card-link.collapsed:after,
.faqs_wrapper .faqs .card-header>.card-link:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 16px;
    float: right;
    color: #999999;
}

.faqs_wrapper .faqs .card-header>.card-link.collapsed:after {
    content: "\f067";
}

.faqs_wrapper .faqs .card-header>.card-link:after {
    content: "\f068";
}

.faqs_wrapper .faqs .card {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #707070;
}

.faqs_wrapper .faqs .card-body {
    color: #2C99CB;
    font-size: 16px;
    line-height: 30px;
    padding-top: 8px;
    padding-left: 60px;
}

.blue_dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2C99CB;
    margin-right: 24px;
}

.faqs_wrapper section {
    margin-top: 100px;
}

.plans_oac p {
    line-height: 36px;
}

.faqs_q .boxes_wrapper>.box {
    width: 400px;
    height: 300px;
    border-radius: 30px;
    padding: 60px 48px;
    box-shadow: 0 30px 30px rgba(44, 153, 203, 0.2);
    background-color: #fff;
    z-index: 1;
}

.faqs_q .box .icon {
    margin: 0 auto;
}

.faqs_q .box>p {
    margin-top: 12px;
}

.faqs_q .box {
    margin-left: 36px;
}

.faqs_q {
    margin-top: 120px;
    padding: 50px 0 380px 0;
}

.faqs_q .box:first-child {
    margin-left: 0;
}

.faqs_q .boxes_wrapper {
    margin-top: 48px;
}


/* Index */

.why_rmd_2 .step_img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.why_rmd_2 .step_img .box {
    width: 500px;
    text-align: left;
    margin-left: 120px;
}

.why_rmd_2 .step_img .img_box {
    border-radius: 42px;
    /* overflow: hidden; */
    position: relative;
    margin-bottom: 60px;
}

.why_rmd_2 .step_img .img_box img:last-child {
    position: absolute;
    bottom: -78px;
    left: -110px;
    width: 250px;
}

.why_rmd_2 .step_img .img_box img:first-child {
    border-radius: 42px;
}

.why_rmd_2 .step_img .box:nth-child(2) .ob_img {
    bottom: -50px;
    right: -110px;
    left: auto;
    width: 300px;
}

.why_rmd_2 .step_img .title {
    font-size: 30px;
    text-align: left;
}

.why_rmd_2 .step_img p {
    font-size: 18px;
    line-height: 36px;
}

.why_rmd_2 .step_block:first-child .step_img {
    background-position: -272px 0;
}

.why_rmd_2 .step_block .ob_img {
    width: 280px;
}

.ob_img.strawberry {
    bottom: -42px !important;
    left: -72px !important;
}

.ob_img.blueberry {
    bottom: -78px !important;
    right: -46px !important;
    left: auto;
    width: 250px !important;
}

.step_img_2 {
    background-position: 950px 0 !important;
}


/* Terms */

.terms_sec {
    max-width: 1000px;
    margin: 0 auto 100px auto;
    padding: 0 18px;
}

.terms_sec .sub_sec {
    margin-top: 60px;
}

.terms_sec .sub_heading {
    font-size: 18px;
    font-weight: 600;
}

.exprt_box .exprt_img img {
    width: 357px;
    height: 344px;
}


/* Sign In */

.sign_in_sec_wrapper {
    width: 100%;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./../images/sign_in.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sign_in_sec {
    width: 480px;
    margin: 16px;
    padding: 24px 24px;
    border-radius: 14px;
    background-color: #fff;
    text-align: center;
}

.sign_in_sec img {
    width: 240px;
}

.sign_in_sec .title {
    font-size: 22px;
    text-align: left;
    margin-top: 18px;
    text-align: center;
}

.sign_in_sec form {
    margin-top: 48px;
}

.sign_in_sec form .form-control {
    width: 100%;
    height: 50px;
    border-radius: 0;
    background-color: #F3F7F8;
    border: none;
    font-size: 16px;
}

.sign_in_sec form .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 108 102 / 0.25);
}

.sign_in_sec form button {
    border: none;
    width: 180px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

.sign_in_sec .link {
    color: var(--primary_color);
    margin-top: 24px;
    display: inline-block;
}

.sign_in_sec .link:hover {
    color: var(--blue);
}


/* Lost Password */

.sign_in_sec_wrapper.lost_pass {
    background-image: url(./../images/lost_pass.jpg);
}


/* Sign Up */

.sign_up_header .wrapper {
    width: 100%;
    height: 62px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
}

.sign_up_header .wrapper img {
    width: 180px;
}


/* .sign_up_header .wrapper .help_link {
color: var(--primary_color);
padding: 8px 16px;
background-color: rgb(255 108 102 / 0.2);
border-radius: 5px;
} */

.sign_up_header .wrapper .blue_btn {
    width: 110px;
    height: 40px;
}

.sign_up_sec {
    /* height: calc(100vh - 62px); */
    height: auto;
    position: relative;
    overflow: hidden;
}

.sign_up_wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: calc(100vh - 62px);
    height: auto;
    /* overflow: hidden; */
    max-width: 1200px;
    margin: 0 auto;
}

.sign_up_sec .left {
    width: 50%;
    /* border-right: 1px solid #e9e9e9; */
    padding: 100px 36px 60px 36px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sign_up_sec .right {
    width: 50%;
    padding: 100px 60px 60px 60px;
}

.sign_up_sec .left,
.sign_up_sec .right {
    height: 100%;
}

.sign_up_sec .form_wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #fff; */
    padding: 18px;
    border-radius: 18px;
}

.sign_up_sec .form_wrapper>.title {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}

.sign_up_sec .form_wrapper>p {
    line-height: 28px;
}

.sign_up_sec .des {
    margin-bottom: 48px;
}

.sign_up_sec .login_link {
    color: var(--primary_color);
}

.sign_up_sec .login_link:hover {
    color: var(--blue);
}

.sign_up_sec form .form-control {
    width: 100%;
    height: 50px;
    border-radius: 0;
    background-color: #F3F7F8;
    border: none;
    font-size: 16px;
}

.sign_up_sec .input_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sign_up_sec .input_wrapper .form-group {
    width: 48%;
}

.welcome_content_wrapper>div>form .form-control:focus,
.sign_up_sec .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 108 102 / 0.2);
}

.sign_up_sec form button {
    border: none;
    width: 180px;
}

.sign_up_sec form>p {
    margin-top: 36px;
}

.rating_box {
    text-align: center;
    color: var(--primary_color);
    font-size: 12px;
}

.rating_box .fa {
    margin-left: 5px;
}

.sign_up_sec .client>p {
    text-align: center;
    font-size: 14px;
    margin-top: 18px;
}

.sign_up_sec .client .client_name {
    font-size: 12px;
}

.sign_up_sec .list .item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    margin-top: 48px;
}

.sign_up_sec .list .item:first-child img {
    width: 70px;
}

.sign_up_sec .list .item>p {
    margin-left: 16px;
}

.sign_up_sec .list {
    margin-top: 100px;
}

.sign_up_sec .list .item .fa {
    font-size: 36px;
    width: 70px;
    color: var(--primary_color);
    display: inline-table;
}

.sign_up_sec .clients .item_box {
    max-width: 400px;
    padding-top: 100px;
}

.sign_up_sec .clients .tk_b p {
    margin: 10px auto 60px auto;
    padding: 0 12px;
    height: 148px;
    font-style: italic;
    line-height: 30px;
}

.sign_up_sec .agree_with_terms_box span {
    font-size: 14px;
}

.sign_up_sec .agree_with_terms_box a {
    color: var(--primary_color);
    text-decoration: underline;
}

.sign_up_sec .agree_with_terms_box a:hover {
    color: var(--blue);
}

.sign_up_sec .agree_with_terms_box input {
    margin-right: 12px;
}

.sign_up_sec .agree_with_terms_box {
    margin-bottom: 24px;
}

.sign_up_sec .clients .owl-dots {
    text-align: center;
}

.sign_up_sec .clients button.owl-dot {
    border: 1px solid #ff6c66;
    padding: 5px !important;
    margin-left: 12px;
    border-radius: 50%;
}

.sign_up_sec .clients button.owl-dot.active {
    background-color: var(--primary_color);
}

.sign_up_sec .clients button.owl-dot:focus {
    outline: none;
}

.sign_up_sec:after {
    background-image: url(../images/blue_curve.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    bottom: -214px;
    left: 0;
    background-position: bottom;
    z-index: -1;
}


/* Blogs */

.blogs_banner {
    background: #F3F7F8;
    height: 700px;
    position: relative;
    z-index: 0;
}

.blogs_banner>img {
    position: absolute;
    bottom: 0;
}

.blogs_banner .content_wrapper {
    position: relative;
    top: 36px;
    width: 100%;
    height: 700px;
    z-index: 1;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.blogs_banner .item {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.blogs_banner .item>.des {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 18px 36px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: wrap;
}

.blogs_banner .item>.des>p {
    font-size: 16px;
    line-height: 30px;
    height: 56px;
    overflow: hidden;
    color: #000;
    margin-bottom: 0;
}

.blogs_banner .item>.des>a {
    color: var(--primary_color);
    font-size: 15px;
}

.blogs_banner .item>.des>a:hover {
    color: var(--blue);
}

.blogs_banner .left_sec,
.blogs_banner .right_sec {
    width: 50%;
    height: 700px;
}

.blogs_banner .left_sec {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
}

.blogs_banner .left_sec .item {
    width: 100%;
}

.blogs_banner .right_sec .item {
    width: 360px;
    margin-left: 18px;
    margin-bottom: 18px;
}

.blogs_banner .right_sec .item img {
    height: 100%;
    width: 100%;
}

.blogs_banner .right_sec {
    display: flex;
    flex-wrap: wrap;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    width: 756px;
}

.blogs_banner .right_sec .item:first-child,
.blogs_banner .right_sec .item:last-child {
    height: 380px;
}

.blogs_banner .right_sec .item:last-child {
    margin-top: -78px;
    margin-bottom: 0;
}

.blogs_banner .right_sec .item:nth-child(3),
.blogs_banner .right_sec .item:nth-child(2) {
    height: 302px;
}

.blogs_banner .right_sec .item:nth-child(3) {
    margin-bottom: 0px;
}

.blog_stories {
    padding-right: 48px;
}

.latest_news .title,
.popular_article .title,
.search_box .title,
.blog_stories .title,
.featured_article .title,
.latest_article .title {
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}

.latest_article>.article_wrapper>.article {
    width: 500px;
    height: 494px;
}

.latest_article>.article_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
}

.featured_article,
.latest_article {
    padding-bottom: 48px;
    border-bottom: 1px solid #DEDEDE;
}

.latest_article .img_box {
    max-height: 320px;
    border-radius: 20px;
    overflow: hidden;
}

.blog_box .date,
.featured_article .date,
.latest_article .date {
    font-size: 16px;
    color: #2c99cb;
    margin-top: 18px;
}

.latest_article .heading {
    font-size: 24px;
    font-weight: 600;
    height: 68px;
    overflow: hidden;
    line-height: 34px;
    margin-bottom: 16px;
}

.latest_article .short_des {
    font-size: 16px;
    color: #737373;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured_article {
    margin-top: 48px;
}

.featured_article .title {
    margin-bottom: 30px;
}

.featured_article .img_wrapper {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
}

.featured_article .heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}

.featured_article .description {
    color: #737373;
    font-size: 16px;
    line-height: 30px;
}

.blog_stories_wrapper button,
.featured_article button {
    border: none;
    margin-top: 48px;
    box-shadow: 0 6px 12px rgb(255 108 102);
    width: 180px;
    height: 70px;
    border-radius: 60px;
    font-size: 15px;
    font-weight: 600;
}

.featured_article>.row>div {
    z-index: 1;
}

.blog_stories_wrapper {
    margin-top: 48px;
    z-index: 1;
    position: relative;
}

.blog_box {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.blog_box>.img_wrapper {
    display: inline-block;
    width: 400px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
}

.blog_box>.content_box {
    width: 470px;
}

.blog_box .created_by {
    font-size: 16px;
    color: #999;
}

.blog_box .heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    max-height: 120px;
    overflow: hidden;
    margin-top: 30px;
}

.blog_box .description {
    font-size: 16px;
    color: #737373;
    margin-top: 48px;
    line-height: 32px;
}

.blog_stories_wrapper button {
    margin: 160px auto;
}

.blog_stories_wrapper .search_box form {
    margin-top: 48px;
}

.blog_stories_wrapper .search_box .search>input {
    width: 400px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #DEDEDE;
    padding: 0 36px 0 60px;
    color: #999999;
}

.blog_stories_wrapper .search_box .search>input:focus {
    outline: none;
}

.blog_stories_wrapper .search_box .search:before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    top: 20px;
    left: 24px;
    font-weight: 900;
}

.blog_stories_wrapper .search_box button {
    width: 400px;
    height: 60px;
    margin: 18px 0 0 0;
}

.blog_stories_wrapper .popular_article {
    margin-top: 100px;
}

.blog_stories_wrapper .popular_article .article {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 24px 0;
}

.blog_stories_wrapper .popular_article .article .heading {
    width: 272px;
    font-size: 24px;
    font-weight: 600;
    height: 134px;
    line-height: 34px;
    overflow: hidden;
}

.blog_stories_wrapper .popular_article .article .writer {
    font-size: 16px;
    font-weight: 500;
    color: #737373;
    margin-top: 24px;
}

.blog_stories_wrapper .popular_article .article>.img_wrapper {
    width: 150px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}

.blog_stories_wrapper .popular_article .article .txt {
    margin-left: 48px;
}

.popular_article .title {
    margin-bottom: 30px;
}

.advertisement,
.square_advertisement {
    background-color: #DEDEDE;
    text-transform: uppercase;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 12px;
    margin: 60px 0;
}

.advertisement {
    width: 100%;
    height: 200px;
}

.square_advertisement {
    width: 500px;
    height: 400px;
}

.latest_news .news {
    margin: 30px 0;
}

.latest_news .news>h6 {
    font-size: 24px;
    font-weight: 600;
    width: 464px;
    height: 66px;
    line-height: 34px;
    overflow: hidden;
}

.latest_news .news>p {
    font-weight: 500;
    color: #737373;
}

.blogs_banner .item>img {
    width: 100%;
}

.agree_with_terms_box .checkbox {
    width: auto;
    margin: 0 0;
}

.terms_sec_2 {
    position: absolute;
    width: 100%;
    background: rgb(44, 153, 203, 0.1);
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.terms_sec_2>.content_wrapper {
    width: 1000px;
    /* height: 800px; */
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 47px 62px 56px 38px;
    position: relative;
    margin: 12px;
}

.terms_sec_2 .heading {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Myriad Pro';
    line-height: 40px;
    color: #000;
}

.terms_sec_2 .description {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Myriad Pro';
    line-height: 30px;
    margin-bottom: 25px;
}

.terms_sec_2 .divider {
    width: 100px;
    height: 5px;
    background-color: var(--primary_color);
    margin-top: 39px;
}

.terms_sec_2 .content_wrapper .fa-times {
    position: absolute;
    top: 22px;
    right: 24px;
    color: #000;
}


/* Custome Checkboxes */

.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
}

.checkbox label {
    position: relative;
    min-height: 22px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.checkbox label span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #999;
}

.checkbox label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid var(--primary_color);
    border-left: 2px solid var(--primary_color);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    position: absolute;
    top: 12px;
    left: 10px;
}

.checkbox input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}

.checkbox input[type="checkbox"]:checked~label:before {
    border: 2px solid #999;
}

.checkbox input[type="checkbox"]:checked~label:after {
    transform: rotate(-45deg) scale(1);
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline: 0;
}


/* Custome Radio Btns */

.main_welcome_wrapper [type="radio"]:checked,
.main_welcome_wrapper [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.main_welcome_wrapper [type="radio"]:checked+label,
.main_welcome_wrapper [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}

.main_welcome_wrapper [type="radio"]:checked+label:before,
.main_welcome_wrapper [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 18px;
    height: 18px;
    border: 1px solid #999999;
    border-radius: 100%;
    background: #fff;
}

.main_welcome_wrapper [type="radio"]:checked+label:after,
.main_welcome_wrapper [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ff6c66;
    position: absolute;
    top: 7px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.main_welcome_wrapper [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.main_welcome_wrapper [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* Welcome Screen */

.tabs_wrapper.welcome {
    width: 100%;
    height: 60px;
    background-color: #F3F7F8;
    position: relative;
}

.tabs_wrapper.welcome>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tabs_wrapper.welcome>div>a {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Myriad Pro';
    color: #000;
    padding: 18px 0 12px 0;
    border-bottom: 3px solid transparent;
}

.tabs_wrapper.welcome>div>a.active {
    border-bottom: 3px solid #FF6C66;
}

.tabs_wrapper.welcome>div>a:last-child {
    margin-left: 100px;
}

.tabs_wrapper.basics>div>a {
    border-bottom: none;
    cursor: auto;
}

.main_welcome_wrapper {
    position: relative;
    overflow: hidden;
}

.welcome_content_wrapper:after {
    background-image: url(../images/blue_curve.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    bottom: -216px;
    left: 0;
    background-position: bottom;
    z-index: -1;
}

.welcome_content_wrapper {
    min-height: calc(100vh - 122px);
    padding: 48px 0 48px 0;
}

.welcome_content_wrapper>div {
    max-width: 1150px;
    margin: 0 auto;
}

.welcome_content_wrapper>div .heading {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Myriad Pro';
    line-height: 40px;
    text-align: center;
}

.welcome_content_wrapper .content_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 85px;
}

.welcome_content_wrapper .content_box>.box {
    width: 350px;
}

.welcome_content_wrapper .content_box>.box>h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Myriad Pro';
    line-height: 36px;
    margin-top: 10px;
}

.welcome_content_wrapper .content_box>.box>p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Myriad Pro';
    line-height: 30px;
    margin-top: 12px;
}

.welcome_content_wrapper .content_box>.box>span {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 108, 102, 0.1);
    display: inline-block;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Myriad Pro';
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_content_wrapper .continue_btn {
    width: 400px;
    height: 60px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    margin-top: 85px;
}

.welcome_content_wrapper .prescription {
    display: none;
}


/* Basics */

.tabs_wrapper.basics .steps {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.tabs_wrapper.basics .steps>span {
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: #DEDEDE;
    margin-left: 10px;
}

.tabs_wrapper.basics .steps>span.active {
    background-color: var(--primary_color);
}

.the_basics_sec>div {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
}

.welcome_content_wrapper.medical_qs>div>.description,
.welcome_content_wrapper>div>.description {
    font-style: 16px;
    font-weight: 400;
    font-family: 'Myriad Pro';
    line-height: 30px;
}

.welcome_content_wrapper>div>form {
    margin-top: 36px;
}

.welcome_content_wrapper>div>form .biological_sex {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.welcome_content_wrapper>div>form .biological_sex span {
    width: 50%;
    background-color: #F3F7F8;
    display: inline-block;
    text-align: center;
    padding: 13px;
    cursor: pointer;
}

.welcome_content_wrapper>div>form .biological_sex span.active {
    background-color: var(--primary_color);
    color: #fff;
}

.welcome_content_wrapper>div>form label {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Myriad Pro';
    line-height: 30px;
}

.welcome_content_wrapper>div>form .form-control {
    height: 50px;
    border-radius: 0;
    border: none;
    background: #F3F7F8;
    font-size: 16px;
    font-family: 'Myriad Pro';
}

.welcome_content_wrapper.medical_qs>div>button,
.welcome_content_wrapper>div>form button {
    border: none;
    width: 136px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    font-size: 15px;
    font-weight: 700;
}


/* Medical Questions */

.welcome_content_wrapper.medical_qs>div {
    max-width: 612px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
}

.welcome_content_wrapper.medical_qs>div>.img_wrapper {
    margin-top: 36px;
}

.welcome_content_wrapper.medical_qs>div>button {
    width: 172px;
    margin-top: 60px;
}

.tabs_wrapper.m_qs .back_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 36px;
    cursor: pointer;
}

.medical_qs_1 {
    display: none;
}

.welcome_content_wrapper.medical_qs>div .question {
    font-family: 'Myriad Pro';
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    line-height: 30px;
    max-width: 500px;
}

.welcome_content_wrapper .answers_box {
    margin-top: 36px;
}

.welcome_content_wrapper .answers_box>div {
    min-height: 50px;
    background: #F3F7F8;
    padding: 16px 22px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.welcome_content_wrapper .answers_box>div:first-child {
    margin-top: 0;
}

.welcome_content_wrapper .answers_box>.btn_wrapper {
    background-color: transparent;
}

.welcome_content_wrapper .answers_box>.btn_wrapper a {
    width: 136px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    border: none;
    font-size: 15px;
    font-weight: 700;
}


/* Custome Checkboxes */

.main_welcome_wrapper .new {
    padding: 50px;
}

.main_welcome_wrapper .form-group {
    display: block;
    margin-bottom: 15px;
}

.main_welcome_wrapper .form-group .checkbox {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.main_welcome_wrapper .form-group .checkbox_label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}

.main_welcome_wrapper .form-group .checkbox_label:before {
    content: '';
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #999;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
    /* padding: 10px; */
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 13px;
    width: 18px;
    height: 18px;
}

.main_welcome_wrapper .form-group .checkbox:checked+.checkbox_label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid #ff6c66;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/* ******************* */

.medical_qs_2,
.medical_qs_8,
.medical_qs_9 {
    display: none;
}

.welcome_content_wrapper.medical_qs>div>p {
    font-size: 14px;
    font-family: 'Myriad Pro';
    line-height: 30px;
}

.welcome_content_wrapper .comment_box {
    background: transparent !important;
    padding: 0 !important;
    display: block !important;
}

.welcome_content_wrapper .comment_box label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Myriad Pro';
    color: #999;
    display: block;
}

.welcome_content_wrapper .comment_box textarea {
    width: 100%;
    max-width: 500px;
    height: 150px;
    border: none;
    background-color: #F3F7F8;
    padding: 14px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Myriad Pro';
}

.welcome_content_wrapper .comment_box textarea:focus {
    outline: none;
}

.welcome_content_wrapper .medical_qs_9 .answers_box,
.welcome_content_wrapper .medical_qs_8 .answers_box {
    margin-top: 24px;
    /* max-width: 500px; */
}

.welcome_content_wrapper .medical_qs_9 .btn_wrapper a,
.welcome_content_wrapper .medical_qs_8 .btn_wrapper a {
    width: 246px;
}

.welcome_content_wrapper .medical_qs_9,
.welcome_content_wrapper .medical_qs_8 {
    max-width: 500px !important;
}


/*-------------------------------------------service_detail-------------------------------------*/

.rmd_ser_treat_types .container,
.rmd_service_intro .container {
    max-width: 1700px;
    position: relative;
    z-index: 1
}

.rs_intro_details {
    display: flex;
    margin: 30px auto;
    justify-content: space-around
}

.rsid_details {
    max-width: 800px;
    width: 60%;
    margin-left: 30px
}

.rsid_img {
    max-width: 700px;
    overflow: hidden;
    width: 40%;
}

.rsid_img img {
    border-radius: 20px;
}

.rsid_details p {
    font-size: 14px;
    line-height: 24px
}

.rsid_details .btn-primary {
    max-width: 200px
}

.rmd_ser_treat_types {
    padding: 200px 0 50px 0;
    position: relative;
    background: #fff;
    background: -moz-linear-gradient(360deg, rgba(255, 255, 255, 1) 0, rgba(255, 207, 204, 1) 100%);
    background: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 1) 0, rgba(255, 207, 204, 1) 100%);
    background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0, rgba(255, 207, 204, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffcfcc", GradientType=1)
}

.rmd_ser_treat_types .title p {
    margin: 10px auto 30px auto;
    max-width: 940px
}

.rmd_ser_treat_types::after {
    background-image: url(../images/red_curve.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: -5px;
    left: 0;
    background-position: top
}

.medi_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}

.medi_box {
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 32%;
    transition: all ease-in-out .3s
}

.medi_box:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, .16)
}

.medi_img_box {
    position: relative
}

.medi_img_box::before {
    background: #fff;
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, .6054621677772671) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, .6054621677772671) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, .6054621677772671) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#000000", GradientType=1);
    content: '';
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute
}

.medi_img_box .medi_name {
    position: absolute;
    bottom: 15px;
    color: #fff;
    font-size: 2rem;
    left: 15px;
    font-weight: 700
}

.medi_info {
    padding: 0 10px 10px 10px
}

.medi_pack_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
    flex-wrap: wrap;
    margin-bottom: 10px
}

.medi_pack_price {
    font-size: 1.25rem
}

.medi_pack_price small {
    font-size: .75rem;
    display: block
}

.medi_info p {
    font-size: .85rem;
    margin: 5px 0
}

.medi_info .rm_link {
    display: block;
    margin-top: 5px
}

.bor_btn {
    border: 1px solid var(--blue);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: .85rem;
    color: var(--blue)
}

.bor_btn:hover {
    border: 1px solid var(--blue);
    color: #fff;
    background-color: var(--blue)
}

.treat_info {
    margin: 30px auto
}

.treat_info i {
    color: var(--primary_color);
    margin-right: 5px
}

.treat_info li {
    display: inline-block;
    width: 100%;
    margin: 10px auto;
    max-width: 300px
}

.hiw_ser_btm {
    margin: 50px auto
}

.hiw_ser_btm_boxes {
    display: flex;
    justify-content: space-evenly
}

.hiwb_box {
    width: 32%;
    max-width: 500px
}

.hiwb_img img {
    width: 100%;
    border-radius: 20px;
    height: 300px;
    object-fit: cover;
    object-position: center
}

.hieb_category {
    margin: 10px auto;
    font-size: 1.25rem;
    color: var(--blue);
    font-weight: 700
}

.hiw_ser_btm .btn-primary {
    max-width: 200px;
    margin: 0 auto
}

.treat_selection .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
}

.treat_selection .select2-container--default .select2-selection--single:focus {
    outline: none!important;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    display: none;
    z-index: 999;
    opacity: 0.4;
}

.welcome_content_wrapper.medical_qs .btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #ff6c66;
    border-color: #ff6c66;
}


/* Provider Detail */

.provider_detail_sec {
    max-width: 1080px;
    margin: 30 auto 0 auto;
    /* background-color: #f5f5f5; */
}

.provider_detail_sec .custom_breadcrumb a:first-child {
    text-decoration: underline;
}

.provider_detail_sec .provider_box {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 48px;
}

.provider_detail_sec .provider_box>.img_box {
    width: 40%;
    padding-right: 18px;
    overflow: hidden;
}

.provider_detail_sec .provider_box>.img_box>img {
    border-radius: 30px 0 30px 0;
}

.provider_detail_sec .des_box {
    width: 60%;
}

.provider_detail_sec .des_box .sub_title {
    margin-top: 10px;
}

.provider_detail_sec .des_box .description {
    margin-top: 24px;
    font-size: 16px;
    line-height: 30px;
}

.provider_detail_sec .des_box .btn-primary {
    border: none;
    margin-top: 18px;
}

.provider_detail_sec .about_box {
    padding: 36px 0;
    margin-bottom: 72px;
}

.provider_detail_sec .about_box>h3 {
    margin-bottom: 30px;
}

.provider_detail_sec .about_box .text_box>.heading {
    font-size: 18px;
    font-weight: 600;
}

.provider_detail_sec .about_box .text_box>.des {
    font-size: 16px;
    line-height: 30px;
}

.provider_detail_sec .about_box .text_box {
    margin-top: 36px;
}

.meet_providers_sec .member_wrapper {
    justify-content: flex-start;
}

.meet_providers_sec .member_wrapper .item_mem {
    margin: 0 18px 60px 0;
}

.meet_providers_sec .heading {
    margin-bottom: 36px;
}

.work_join_sec.providers_d {
    margin-top: 48px;
}


#onlineVisitForm .answers_box .comment_box input[type=text] {
    width: 100%;
    max-width: 500px;
    border: none;
    background-color: #F3F7F8;
    padding: 14px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Myriad Pro';
}

#onlineVisitForm .answers_box .comment_box input[type=text]:focus{
    outline: none;
}


/* Custome Radio Btns ----------Number of Uses-------drugs */

.check_1 [type="radio"]:checked,
.check_1 [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.check_1 [type="radio"]:checked+label,
.check_1 [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
}

.check_1 [type="radio"]:checked+label:before,
.check_1 [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 18px;
    height: 18px;
    border: 1px solid #999999;
    border-radius: 100%;
    background: #fff;
}

.check_1 [type="radio"]:checked+label:after,
.check_1 [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ff6c66;
    position: absolute;
    top: 7px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.check_1 [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.check_1 [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*-----------Number of uses-------------*/

.num_uses {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 33px;
    max-width: 500px;
}

.num_uses>h5 {
    line-height: 25px;
    font-size: 18px;
}

.num_uses>p {
    margin-bottom: 10px;
}

.select_box {
    width: 100%;
    height: 100px;
    background-color: #F3F7F8;
    position: relative;
    margin-top: 15px;
}

.select_box .select_details {
    display: flex;
    height: 100%;
    padding-left: 20px;
}

.check_1 {
    margin-top: 15px;
}

.select_box label>span {
    font-weight: 700;
}

.roman_pic {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 8px;
}


/*-------------Drugs-------------*/

.select_box .drug_details {
    display: flex;
    height: 100%;
    padding-left: 20px;
}

.select_box .drug_details .roman_pic {
    position: absolute;
    right: 9px;
    bottom: 10px;
    padding-right: 8px;
}

.select_box .drug_details .drug_p {
    margin-left: 38px;
    padding-top: 10px;
}

.drug_details .drug_p>span {
    font-weight: 700;
}

.drug_details .drug_p>p {
    font-size: 12px;
}

.drug_details .prefer {
    margin-top: 20px;
}

.select_box>a .drug_details .prefer {
    color: black;
}

.select_box>a:hover .drug_details .prefer {
    color: #FF6C66;
}


/*-----------dosage--------------*/

.num_uses {
    margin-bottom: 40px;
}

.dosage_12 {
    margin-top: 50px;
    width: 100%;
}

.dosage_12 p {
    font-size: 16px;
    margin-bottom: 4px;
}

.dosage_details {
    width: 100%;
    height: 200px;
    background-color: #F3F7F8;
    position: relative;
    margin-top: 15px;
    padding: 13px;
}

.dosage_select {
    display: flex;
    padding: 13px;
    border-bottom: 1px solid #73737324;
}

.dosage_select .check_1 {
    margin-top: 0px;
}

.dosage_select .check_1>label>span {
    font-weight: 700;
}

.dosage_select .check_1>p {
    font-size: 12px;
    padding-left: 36px;
}

.dosage_select .drug_p {
    margin-top: 1px;
    text-align: right;
}

.dosage_select .drug_p>span {
    font-size: 16px;
    font-weight: 700;
}

.dosage_select .drug_p>p {
    font-size: 12px;
}

.dosage_intro {
    padding: 17px 13px;
    position: relative;
}

.dosage_intro i {
    position: absolute;
    color: #ff6c66;
}

.dosage_intro p {
    font-size: 14px;
    padding-left: 34px;
    line-height: 25px;
}

.dosage_13 {
    margin-top: 30px;
    width: 100%;
}

.dosage_13 p {
    line-height: 25px;
}

.dosage_13 .dosage_details {
    height: 95px;
}

.dosage_13 .dosage_details .dosage_select {
    border-bottom: 0px;
}



/*--------------review----------------------*/

.review_box {
    padding: 14px 13px;
    width: 100%;
    height: auto;
    background-color: #F3F7F8;
    margin-bottom: 14px;
}

.review_box h6,
.review_box_1 h6 {
    font-size: 16px;
}

.review_box p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 0px;
}

.review_box_1 {
    padding: 14px 13px;
    width: 100%;
    height: auto;
    background-color: #F3F7F8;
    margin-bottom: 14px;
}

.review_box_1 .sil_review {
    display: flex;
    border-bottom: 1px solid #cbc7c76b;
    padding-bottom: 6px;
}

.review_box_1 .sil_review .sil_details {
    display: flex;
}

.review_box_1 .sil_review .sil_details .sil_details_img {
    width: 59px;
}

.review_box_1 .sil_review .sil_details .sil_details_intro {
    margin-left: 12px;
}

.review_box_1 .sil_review .sil_details_price p {
    font-size: 12px;
}

.review_box_1 .sil_review .sil_details_price p span {
    font-weight: 700;
    color: #f13f32;
}

.review_box_1 .sil_review .sil_details .sil_details_intro h5 {
    margin-bottom: 2px;
    font-size: 16px;
}

.review_box_1 .sil_review .sil_details .sil_details_intro p {
    margin-bottom: 2px;
    font-size: 12px;
}

.sil_review .order_pro,
.order_pro .ml-auto {
    padding-top: 13px;
}

.sil_review .order_pro h5 {
    font-size: 14px
}

.sil_review .order_pro p {
    font-size: 12px;
}

.sil_review .order_pro span {
    font-weight: 700;
    font-size: 14px;
    color: #ff6c66;
}

.sil_review_1 .order_pro_v {
    padding-top: 13px;
}

.sil_review_1 .order_pro_v h5 {
    font-size: 14px;
}

.sil_review_1 .order_pro_v p {
    font-size: 12px;
    margin-bottom: 0px;
    padding-top: 16px;
}

.sil_review_1 {
    display: flex;
    padding-bottom: 6px;
}

.sil_review_1 .order_pro h6 {
    font-size: 12px;
    margin-bottom: 0px;
    padding-top: 17px;
}

.review_box .check_1 {
    margin-top: 0px;
    position: relative;
}

.review_box .check_1 i {
    position: absolute;
    right: 5px;
    top: 4px;
    color: #ff6c66;
}

/*------------Recieving_mail-------------*/

.email_recieve {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 33px;
    max-width: 500px;
}

.email_box {
    width: 100%;
    height: auto;
    padding: 14px;
    background-color: #F3F7F8;
}

.email_recieve h5 {
    line-height: 25px;
    font-size: 18px;
}

.email_box input#email_input {
    border-style: none;
    background-color: #F3F7F8;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
}

.email_box input#email_input:focus {
    color: #495057;
    background-color: #F3F7F8;
    outline: 0;
    box-shadow: none;
}

.email_box_1 {
    margin-top: 18px;
    width: 100%;
    height: auto;
    padding: 14px;
    background-color: #F3F7F8;
}

.email_box_1 textarea#comment {
    border-style: none;
    background-color: #F3F7F8;
    display: block;
    width: 100%;
    height: 200px;
}

.email_box_1 textarea#comment:focus {
    color: #495057;
    background-color: #F3F7F8;
    outline: 0;
    box-shadow: none;
}

.Submit {
    background-origin: none;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


/*-----------------Systolic med-----------*/

.systolic_med {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 33px;
    max-width: 500px;
}

.sys_ban {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 18px;
    padding: 14px 40px;
    background-color: #F3F7F8;
    max-width: 250px;
}

.sys_para {
    border-bottom: 1px solid #dadada;
}

.sys_para {
    text-align: center;
    margin-top: 12px;
}

.sys_para_1 {
    text-align: center;
    margin-top: 6px;
}

.sys_para p {
    font-size: 14px;
    margin-bottom: 6px;
}

.sys_para_1 p {
    font-size: 14px;
}

.sys_para p span,
.sys_para_1 p span {
    font-size: 16px;
    font-weight: 700;
    padding: 0 15px;
}

.sys_check {
    width: 100%;
    background-color: #F3F7F8;
    padding-left: 14px;
    padding-top: 1px;
    min-height: 55px;
    margin-top: 12px;
}

.sys_slec,
.sys_slec_1 {
    margin-top: 50px;
}

.sys_slec p,
.sys_slec_1 p {
    margin-bottom: 0px;
}

/*-------------------Shipping page---------*/

.red_btn {
    color: #fff;
    background-color: #FF6C66;
    height: 50px;
    padding: 0 25px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 25px;
    width: auto;
    transition: all ease-in-out .3s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .16)
}

.shipping_box {
    width: 100%;
    height: 420px;
    background-color: #F3F7F8;
    margin-top: 20px;
}

.ship .ship_info {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
}

.ship .ship_info>h5 {
    padding-top: 40px;
}

.our_phar {
    margin-left: 27px;
}

.our_phar>h5 {
    padding-top: 15px;
    margin-bottom: 14px;
}

.shipping_box .our_phar .sbox_1 {
    position: relative;
}

.shipping_box .our_phar .sbox_1>i {
    position: absolute;
    top: 2px;
    font-size: 18px;
    color: #FF6C66;
}

.shipping_box .our_phar .sbox_1>p {
    padding-left: 33px;
    color: #83898e;
    font-size: 16px;
}

.ship_d {
    text-align: right;
    padding-top: 12px;
}

.ship_d>p>a {
    font-size: 14px;
    color: #6495ED;
}

.ship_d>p>a:hover {
    color: #FF6C66;
}

.ship_add>input {
    width: 100%;
    height: 41px;
    border-style: none;
    background-color: #F3F7F8;
    padding-left: 20px;
}

.ship .ship_info>p {
    font-size: 14px;
}

.ship .ship_info>button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.save_b.btn.btn-primary {
    border-style: none;
}


/*-----------------upload a pic ------------*/

.cam_pic {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.cam_pic p {
    line-height: 26px;
}

.cam_pic .para_1 {
    padding-top: 27px;
    margin-bottom: 12px;
}

.cam_pic>p>a:hover {
    color: #FF6C66;
}

.pic_up {
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.cam_pic .face_1 {
    width: 100%;
    height: 300px;
    display: flex;
    margin: 16px auto;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}


.sign_in_sec .agree_with_terms_box a {
    color: var(--primary_color);
    text-decoration: underline;
}